# Ignore node modules and build artifacts
node_modules/
build/
dist/

# Ignore IDE/editor config files
.idea/
.vscode/
*.log

# Ignore any unnecessary files or directories
.DS_Store
npm-debug.log
yarn-error.log
