# Ignore everything by default
/**

# Allow specific pipeline files
!/Jenkinsfile*
!/.github
!/.github/workflows
!/.github/workflows/trigger_jenkins_mail.yml


!/.git/hooks/pre-commit

!.gitignore
!README.md
!**/README.md