# Ignore everything by default
/**

# Allow specific pipeline files
!/Jenkinsfile
!/.github
!/.github/workflows
!/.github/workflows/trigger_jenkins_mail.yml


# Allow specific backend and frontend directories
!/app/
!/app/backend/
!/app/frontend/
!/app/admin-frontend/

# Allow specific backend files
!/app/backend/app.py
!/app/backend/config.py
!/app/backend/requirements.txt
!/app/backend/dockerfile
!/app/backend/.dockerignore

# DB files
#!/app/backend/fence_points.csv
#!/app/backend/volunteers.csv

# Allow specific frontend files
!/app/frontend/dockerfile
!/app/frontend/.dockerignore
!/app/frontend/package.json

# Allow specific subdirectories in frontend
!/app/frontend/public/
!/app/frontend/src/


# Allow .js, .html, .css files inside specific frontend subdirectories
!/app/frontend/public/*.js
!/app/frontend/public/*.html
!/app/frontend/public/*.css
!/app/frontend/src/*.js
!/app/frontend/src/*.html
!/app/frontend/src/*.css


# Exclude common files and directories that should remain ignored
/app/frontend/node_modules/
/app/backend/venv/
/app/admin-frontend/node_modules/

# Allow specific admin-frontend files
!/app/admin-frontend/dockerfile
!/app/admin-frontend/.dockerignore
!/app/admin-frontend/package.json

# Allow specific subdirectories in frontend
!/app/admin-frontend/public/
!/app/admin-frontend/src/
!/app/admin-frontend/src/components/
!/app/admin-frontend/src/components/ui/
!/app/admin-frontend/src/lib/

# Allow .js, .html, .css files inside specific admin-frontend subdirectories
!/app/admin-frontend/public/*.js
!/app/admin-frontend/public/*.html
!/app/admin-frontend/public/*.css
!/app/admin-frontend/src/*.js
!/app/admin-frontend/src/*.html
!/app/admin-frontend/src/*.css

# Allow certain admin-frontend files
!/app/admin-frontend/src/components/ui/alert.jsx
!/app/admin-frontend/src/lib/utils.js
!app/admin-frontend/tailwind.config.js
!app/admin-frontend/postcss.config.js


# Allow docs
!.gitignore
!README.md
!**/README.md
!updateroute53onboot.md
!pipeline.drawio
!/app/backend/env-example
