# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.idea/
.vscode/

.env



# Ignore any other unnecessary files or directories
node_modules/
build/
dist/
